<header>
  <h1>Movie Watchlists</h1>
</header>
<main>
  <h3>Your Lists</h3>
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>
  <% end %>
  <%= link_to 'Add List', new_list_path, class: 'btn btn-primary' %>
</main>
